@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    background: #834d9b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d04ed6, #c06be4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d04ed6, #a33fce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.the-box h1 {
    font-family: 'Cutive Mono', monospace;
    margin-left: 10px;
}

hr {
    border: 1px solid #dfd9d9;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    margin-left: 10px;
    font-family: 'Cutive Mono', monospace;
}

h2 {
    font-family: 'Cutive Mono', monospace;
    margin-left: 10px;
}

input {
    width: 300px;
    height: 40px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 20px;
    background: #f1f1f1;
    border-radius: 5px;
}

h4 {
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
   
    margin-left: 10px;
}

button {
  font-size: 20px;
  background-color: #04AA6D;
  margin-top: 40px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;

}

button:hover {
    transition: .2s ease-in;
    transform: translateY(-5px)
}

.the-box {
    margin: auto;
    margin-top: 250px;
    width: 600px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.the-box:hover {
    animation: shake 10s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



